html {
	font-size: 15px;

	@include screens.mobile {
		font-size: 14px;
	}
}

body {
	background-color: variables.$bg-1;
	color: variables.$bg-5;
	color-scheme: dark;
	font-family: Inter, sans-serif;
}
