@font-face {
	font-family: local('Inter');
	src: url('/fonts/Inter-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: local('Inter');
	src: url('/fonts/Inter-SemiBolf.ttf');
	font-weight: 600;
}
