@font-face {
	font-display: swap;
	font-family: local('Inter');
	font-weight: 400;
	src: url('/fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: local('Inter');
	font-weight: 600;
	src: url('/fonts/Inter-SemiBolf.ttf');
}
