@use 'sass:color';
@use './typography';
@use './variables';

@mixin shiny($color, $hover: true, $radius: variables.$radius) {
	position: relative;
	border: 1px solid color.adjust($color, $lightness: -5%);
	border-radius: $radius;
	background-image: linear-gradient(
		color.adjust($color, $lightness: 10%),
		color.adjust($color, $lightness: -1%)
	);
	isolation: isolate;

	&::before {
		position: absolute;
		z-index: -1;
		border-radius: calc($radius - 1px);
		background-image: linear-gradient(
			color.adjust($color, $lightness: 1%),
			color.adjust($color, $lightness: -1%)
		);
		content: '';
		inset: 1px;
	}

	@if $hover {
		&:hover::before {
			background: color.adjust($color, $lightness: -2%);
		}
	}
}

@mixin box($hover: false) {
	border: 1px solid variables.$bg-3;
	border-radius: variables.$radius;
	background-color: variables.$bg-2;

	@if $hover {
		&:hover {
			border-color: color.adjust(variables.$bg-3, $lightness: 10%);
		}
	}
}

@mixin link() {
	@include typography.bold;

	color: variables.$light-blue;

	&:hover {
		filter: brightness(130%);
	}
}

@mixin shadow {
	box-shadow: 0 2px 0.25rem rgba(black, 0.1);
}

@mixin modal-shadow() {
	box-shadow: 0 2rem 4rem rgba(black, 0.5);
}

@mixin skeleton($width: 100%, $height: 100%) {
	position: relative;
	overflow: hidden;
	width: $width;
	height: $height;
	flex: 0 0 auto;
	border-radius: variables.$radius;
	background-color: variables.$bg-3;

	&::before {
		position: absolute;
		width: max(50%, 2rem);
		animation: skeleton 0.8s ease-in-out infinite;
		background-image: linear-gradient(to right, transparent, rgba(white, 0.05), transparent);
		content: '';
		inset: 0 auto;

		@keyframes skeleton {
			from {
				right: 100%;
			}

			to {
				right: min(-50%, -2rem);
			}
		}
	}
}

@mixin blurred-background() {
	position: fixed;
	z-index: 998;
	-webkit-backdrop-filter: blur(0.1rem);
	backdrop-filter: blur(0.1rem);
	background-color: rgba(black, 0.2);
	inset: 0;
}

@mixin item-list() {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	gap: 0.5rem;

	&:not(.active) {
		filter: saturate(0);
		opacity: 0.5;
	}

	&::before {
		position: absolute;
		z-index: -1;
		border-radius: variables.$radius;
		background-color: variables.$bg-2;
		content: '';
		inset: -0.25rem -0.5rem;
		opacity: 0;
	}

	&:hover::before {
		opacity: 1;
	}
}
