@use 'sass:color';
@use './variables';

@mixin shiny($color, $hover: true, $radius: variables.$radius) {
	background-image: linear-gradient(lighten($color, 10%), $color);
	isolation: isolate;
	position: relative;
	border-radius: $radius;
	transition: filter variables.$transition;

	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		inset: 1px;
		background-color: $color;
		border-radius: calc($radius - 1px);
	}

	@if $hover {
		&:hover,
		&:focus-within {
			filter: brightness(130%);
		}
	}
}

@mixin shadow {
	box-shadow: 0 2px 0.25rem rgba(black, 0.1);
}

@mixin modal-shadow() {
	box-shadow: 0 1rem 2rem rgba(black, 0.25);
}

@mixin skeleton($width: 100%, $height: 100%) {
	width: $width;
	height: $height;
	flex: 0 0 auto;
	border-radius: variables.$radius;
	background-color: variables.$grey-3;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		inset: 0 auto;
		width: max(50%, 2rem);
		background-image: linear-gradient(to right, transparent, rgba(white, 0.05), transparent);
		animation: skeleton 0.8s ease-in-out infinite;

		@keyframes skeleton {
			from {
				right: 100%;
			}

			to {
				right: min(-50%, -2rem);
			}
		}
	}
}

@mixin blurred-background() {
	position: fixed;
	inset: 0;
	backdrop-filter: blur(0.25rem);
	-webkit-backdrop-filter: blur(0.25rem);
	background-color: rgba(black, 0.5);
	z-index: 998;
}
