// Colors
$bg-1: #171717;
$bg-2: #1b1b1b;
$bg-3: #222121;
$bg-4: #888;
$bg-5: #fff;
$blue: #6040ff;
$light-blue: #8585ff;
$green: #22c965;
$red: #e34763;
$purple: #a557ff;
$yellow: #ffa723;

// Radius
$radius: 0.5rem;

// Transition
$transition: 0.15s ease-in-out;
