// Colors
$grey-1: #151515;
$grey-2: #1a1a1a;
$grey-3: #262626;
$grey-4: #888;
$white: #fff;
$blue-1: #272050;
$blue-2: #6040ff;
$blue-3: #8585ff;
$green: #22c965;
$red: #e34763;
$purple: #a557ff;
$yellow: #ffa723;

// Radius
$radius: 0.5rem;

// Transition
$transition: 0.15s ease-in-out;
