// Colors
$bg-1: var(--bg-1);
$bg-2: var(--bg-2);
$bg-3: var(--bg-3);
$bg-4: var(--bg-4);
$bg-5: var(--bg-5);
$bg-6: var(--bg-6);
$blue: #6040ff;
$light-blue: #8585ff;
$green: #22c965;
$red: #e34763;
$purple: #a557ff;
$yellow: #ffa723;

// Radius
$radius: 0.5rem;
$small-radius: 0.25rem;

// Transition
$transition: 0.15s ease-in-out;

// Shadows
$shadow: 0 1px 2px rgba(black, 0.15);
$modal-shadow: 0 2rem 4rem rgba(black, 0.5);
